# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# env
.vscode
.vs
3rd
build/cmake/CMakeCache.txt
build/cmake/Makefile
build/cmake/cmake_install.cmake
build/cmake/CMakeFiles